<div class="instrucoes" style= "color: #d0cf5c">
	<h3 style="text-align:center;font-family:'chapaza'">Jogo de Damas: Regras Oficiais</h3>
	<ul style="margin-left: 75px">
<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03a.jpg" class="leftimg"> -->
	<li class="righttxt">O jogo de damas é praticado em um tabuleiro de 64 casas, claras e escuras. A
	grande diagonal (escura), deve ficar sempre <b>à esquerda</b> de cada jogador. <b>O 
	objetivo do jogo é imobilizar ou capturar todas as peças do adversário.</b></li>
	
	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03b.jpg" class="rightimg"> -->
	<li class="righttxt">O jogo de damas é praticado entre dois parceiros, com 12 pedras brancas de um 
	lado e com 12 pedras pretas de outro lado. 
	<b>O lance inicial</b> cabe sempre a quem estiver com as peças brancas. Também joga-
	se dams em um tabuleiro de 100 casas, com 20 pedras para cada lado - Damas 
	Internacional.</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03c.jpg" class="leftimg"> -->
	<li class="righttxt">A pedra anda <b>só para frente</b>, uma casa de cada vez. Quando a pedra atinge a oitava linha do tabuleiro ela é promovida à <b>dama</b>.</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03d.jpg" class="rightimg"> -->
	<li class="righttxt">A dama é uma peça de movimentos mais amplos. <b>Ela anda para frente e para trás</b>, quantas casas quiser. A dama não pode saltar uma peça da mesma cor.</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03e.jpg" class="leftimg"> -->
	<li class="righttxt">A captura é obrigatória.	<b>Não existe sopro</b>. Duas ou mais peças juntas, na mesma diagonal, não podem ser capturadas.</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03f.jpg" class="rightimg"> -->
	<li class="righttxt">A pedra captura a dama e a dama captura a pedra. Pedra e dama <b>têm o mesmo valor</b> para capturarem ou serem capturadas.</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03g.jpg" class="leftimg"> -->
	<li class="righttxt">A pedra e a dama podem capturar <b>tanto para frente como para trás</b>, uma ou mais peças</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03h.jpg" class="rightimg"> -->
	<li class="righttxt">Se no mesmo lance se apresentar mais de um modo de capturar, <b>é obrigatório executar o lance que capture o maior número de peças</b> (Lei da Maioria).</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03i.jpg" class="leftimg"> -->
	<li class="righttxt">A pedra que durante o lance de captura de várias peças, apenas passe por qualquer casa de coroação, sem aí parar, <b>não será promovida à dama</b>.</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03j.jpg" class="rightimg"> -->
	<li class="righttxt">Na execução do lance do lance de captura,<b>é permitido passar mais de uma vez pela mesma casa vazia</b>, não é permitido capturar duas vezes a mesma peça.</li>

	<!-- <img src="http://www.xadrezregional.com.br/imagens/ensino03k.jpg" class="leftimg"> -->
	<li class="righttxt">Na execução do lance de captura, não é permitido capturar a mesma peça mais de uma vez e as peças capturadas <b>não podem</b> ser retiradas do tabuleiro antes de completar o lance de captura.</li>

	<h4>Empate:</h5>
	<li>Após 20 lances sucessivos de damas, sem captura , a partida é declarada empatada.
	Finais de:
	<ul>
	<li>2 damas contra 2 damas;</li>
	<li>2 damas contra uma;</li>
	<li>2 damas contra uma dama e uma pedra;</li>
	<li>uma dama contra uma dama e uma dama contra uma dama e uma pedra, são declarados empatados após 5 lances.</li>
</ul>
</li>
	</ul>
	
<a ui-sref="main" style="margin:50%">Voltar</a>
</div>