<div style="text-align:center;" id="mainBackground">
    <div class="buttons">
        <button ui-sref="pvai">Player vs PC</button>
        <br>
        <button ui-sref="pvp">Player vs Player</button>
        <br>
        <button ui-sref="iavsia">PC vs PC</button>
        <br>
        <button ui-sref="instrucoes">Instruções</button>
    </div>
</div>