
    <div class="modal-body">
    <div id="modal">
        <br>
        <p>{{msgVencedor}}</p>
        <p><a ui-sref="main" ng-click="cancel()">Voltar para tela inicial</a></p>
    </div>


    </div>

