<div id="partida">
    <span><button class="home" ui-sref="main">Home</button></span>
    <span class="corPeca">A cor da peça da vez é: <h5 style="text-align:center"
                                                      ng-class="{'blue': corDaVez == 'Azul', 'green' : corDaVez == 'Verde'}">
        {{corDaVez}}</h5></span>
</div>
