<div style="text-align:center;" id="mainBackground">
<div  class="buttons">
	<button ui-sref="pvai">Player vs PC</button>
	<button ui-sref="pvp">Player vs Player</button>
	<button ui-sref="iavsia">PC vs PC</button>
</div>
</div>