#mainChessBoard {
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.buttons {
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
}

#mainBackground {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(checkers.jpg) no-repeat center center fixed;
    background-size: 1080px 720px;
}

#mainBackground div button {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    overflow: hidden;
    color: white;
    left: 48.5%;
}

table {
    border: 1px solid black;
}

.white {
    width: 50px;
    height: 50px;
    float: left;
}

.black {
    width: 50px;
    height: 50px;
    float: left;
    background-color: black;
}